@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
header 
{
    background-image: linear-gradient(rgba(42, 58, 74, 0.85), rgba(42, 58, 74, 0.85)),url(images.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main {
   background: tranparent;
   width: 100%;
   height: 50%;
}

#main .logo {
    float: left;
}

.logo {
    background: url(logo-removebg-preview.png);
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
    margin-left: 10px;
    margin-top: -15px;
}

#main nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#main nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 50px;
}

#main nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 6px 13px;
    transition: 0.4s all ease-out;
    font-family: 'Quicksand', sans-serif;  
}

#main nav ul li a.active
#main nav ul li a:hover {
    background: fd4a47;
    color: #fff;
    transition: 0.4s all ease-out;
}

.text {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 54%;
    left: 35%;
}

.text h1 {
    color: #fff;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

.text span {
    width: 4px;
    height: 20px;
    background: #fd4a47;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 5%;
    left: -15%;
}

.text p {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

/* for footer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:fit-content;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.name
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white ;
    margin: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
a{
    text-decoration: none;
    color: wheat;
}
li{
    list-style: none;
}

footer{
    display: flex;
    height: 30vh;
    background-color: black;
    /* align-items: center; */
    padding: 20px 0px;
    /* justify-content: center; */
    color: white;
  }
  .links{
    display: flex;
    padding: 0px 100px;
    flex-direction: column;

  }
  .links a {
    text-decoration: none;
    padding: 5px 0px;
    color: grey;
  }
    .links a:hover {
    text-decoration: underline;
  }
  /* .map  iframe{ */
    /* border-radius: 20px;   */
    /* height: 30vh; */
    /* width: 90vh;   */
    
  /* } */
  .social{
    width: 18vh;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }

  .social a:hover{
    color: darkred;
  }

